@import url("keyframes.css");
@import url("ids.css");

 * {
 	padding: 0;
 	margin: 0;
 	text-decoration: none;
 	font-family: sans-serif;
}

.container {
	width: 100svw;
	height: 100svh;
}

.album-container {
	width: 100svw;
	height: 100%;
	display: flex;
	justify-content: center;
}

.album-cover {
	position: relative;
	z-index: 2;
	width: 500px;
	height: 500px;
	margin: 10%;
	box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.5);

	transition: transform 1s ease;
}

.album-cover img {
	width: 100%;
}

.album-cover-vinyl {
	margin: 13% 15%;
	width: 400px;
	height: 400px;
	position: absolute;
	background-color: rgb(26, 26, 26);
	border-radius: 50%;

	transition: transform 1s;
}

.album-vinyl-center {
	margin: 30% 30%;
	position: absolute;
	overflow: hidden;
	z-index: 1;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 2px solid deeppink;
	background-image: linear-gradient(to right bottom, transparent, rgba(0, 0, 0, .1));
	
	transition: transform 1s ease;
	animation: rotate-vinyl 2s linear 0s infinite;
}

.album-vinyl-center img {
	width: 100%;
	object-fit: cover;
}

.album-musics {
	margin: 13% 20px;
	text-align: left;
	width: fit-content;
	user-select: none;
}

.album-musics h2 {
	transition: transform 1s;
	margin: 20px auto;
	cursor: pointer;
}

.album-musics h2::before {
	content: '♫';
	font-size: 2rem;
	font-weight: 700;
	opacity: 0;
	transition: opacity .5s;
}

.album-musics h2::after {
	content: '♫';
	font-size: 2rem;
	font-weight: 700;
	opacity: 0;
	transition: opacity .5s;
}